[Unit]
Description=Keuka Sensor Log Cleanup
Documentation=man:systemd.service(5)

[Service]
Type=oneshot
User=pi
Group=pi
WorkingDirectory=/home/pi/KeukaSensorProd
# Call bash explicitly to avoid failures if the +x bit gets lost in git
ExecStart=/bin/bash /home/pi/KeukaSensorProd/deployment/scripts/cleanup_logs.sh
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
