[Unit]
Description=Run DuckDNS update every 5 minutes

[Timer]
OnBootSec=2min
OnUnitActiveSec=5min
AccuracySec=1min
Unit=duckdns-update.service
Persistent=true

[Install]
WantedBy=timers.target
