[Unit]
Description=Simple Wi-Fi Watchdog
After=network-online.target

[Service]
Type=simple
ExecStart=/bin/bash /opt/keuka-sensor/wifi-watchdog.sh
Restart=always
RestartSec=60

[Install]
WantedBy=multi-user.target
